footer {
    background-color: $color-fondo;
    padding: 20px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);

    .footer-content {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 50px;
        align-items: center;
        justify-content: center;
        max-width: 1200px;
        margin: 0 auto;

        p {
            font-family: $fuente-texto;
            font-size: 14px;
            color: $color-principal;
        }
    }

    .social-icons {
        display: flex;
        gap: 40px;
        justify-content: flex-end;

        img {
            width: 40px;
            height: 40px;
            transition: transform 0.3s ease;

            &:hover {
                transform: scale(1.2);
            }
        }
    }
}